---
import { Image } from 'astro:assets'
import logo from '@images/pfp.png'
import { Debug } from 'astro:components'

const links = Astro.url.pathname
  .split('/')
  .slice(1)
  .reduce(
    (res, link) => {
      const last = res.at(-1)
      if (last && !link) return res
      res.push(
        last
          ? [last[1].includes('blog') ? '*' : link, `${last[1]}/${link}`]
          : [link || '~', `/${link}`]
      )
      return res
    },
    [] as [string, string][]
  )
---

<div class="w-full h-auto text-7xl flex align-middle">
  <a href="/">
    <Image src={logo} alt="logo" class="rounded-full h-[4.5rem] w-auto" />
  </a>
  <div class="flex">
    {
      links.map(([link, href]) => (
        <>
          <span class="text-gray-600 font-light">/</span>
          <a {href} class="font-extralight flex heading">
            {link == '*' ? <pre>{link}</pre> : link}
          </a>
        </>
      ))
    }
  </div>
</div>
