---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

interface Props {
  slug: string
  title: string
  image: string
  Content: AstroComponentFactory
}

let { slug, title, image, Content } = Astro.props
if (!image.includes('.')) image = (await import(`../images/${image}.png`)).default.src
---

<div
  class="h-auto grid grid-rows-1 grid-cols-6 gap-5 items-start rounded-3xl overflow-hidden bg-neutral-800"
>
  <div class="h-full col-span-2 flex flex-col items-center p-10 bg-neutral-700 group">
    <img src={image} alt="thumbnail" class="group-hover:scale-105 transition-transform" />
  </div>
  <div class="h-full z-10 col-span-4 pt-2">
    <p class="text-gray-400 font-normal">~/blog/{slug}:</p>
    <a href=`/blog/${slug}` class="text-5xl text-gray-300 font-bold mt-5">{title}</a>
    <div class="overflow-hidden max-h-14"><Content /></div>
    <div class="text-right pr-4">
      <a href=`/blog/${slug}` class="text-gray-300 font-bold">Read more -></a>
    </div>
  </div>
</div>
